.box-container {
    display: block;
    width: 80%;
    margin: 60px auto 0 auto;
    padding: 30px;
    border-radius: 2px;
    background-color: #F2F2F2;
    box-shadow: 2px 2px 20px #000000;
    position: relative;
    z-index: 0;
}

.sincursos{
    display: block;
    width: 50%;
    margin: 3% auto 8% auto;
    text-align: center;
}

.cursos {
    width: 100%;
    display: flex;
    margin: auto 0;
}

.infocurso {
    display: block;
    margin: 0 10px;
    width: 100%;
    border: solid 0.5px;
    border-color: #000000;
    border-radius: 2%;
    text-align: center;
}

.infocurso img {
    width: 100%;
    border-radius: 2%;    
    height: 204.016px;
}

.infocurso h2 {
    display: block;
    font-weight: bold;
    margin: 10px auto;
    height: 80px;
}

.infocurso label {
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.infocurso button {
    display: block;
    width: 30%;
    margin: 5% auto;
    padding: 10px 0;
    font-size: 18px;
    border-radius: 5px;
    background-color: #98CA3F;
    color: #F2F2F2;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    transition: transform .2s;
    outline: 0 none;
}

.infocurso button:hover {
    transform: scale(1.05);
}

.paginacion {
    display: block;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.paginacion a {
    display: inline-block;
    margin: 0 20px;
    font-weight: bold;
    font-size: 15px;
}


.crearcurso {
    display: block;
    width: 100%;
}

#addcourse {
    display: block;
    width: 20%;
    padding: 10px 0;
    font-size: 14px;
    border-radius: 5px;
    background-color: #0791E6;
    color: #F2F2F2;
    border-style: none;
    font-weight: bold;
    margin: 0 auto;
    cursor: pointer;
    transition: transform .2s;
}

#addcourse:hover {
    transform: scale(1.05);
}