.box-container {
    display: block;
    width: 80%;
    margin: 60px auto 0 auto;
    padding: 30px;
    border-radius: 2px;
    background-color: #F2F2F2;
    box-shadow: 2px 2px 20px #000000;
    position: relative;
    z-index: 0;
}