.cursoinscrito {
    display: block;
    width: 40%;
    margin: 3% auto 0 auto;
    padding: 30px;
    border-radius: 2px;
    background-color: #F2F2F2;
    box-shadow: 2px 2px 20px #000000;
    position: relative;
    z-index: 0;
    text-align: center;
}

.cursoinscrito button {
    display: block;
    width: 30%;
    margin: 5% auto;
    padding: 10px 0;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    transition: transform .2s;
    outline: 0 none;
    color: #F2F2F2;
    background-color: #0791E6;
}

video{
    display: block;
    width: 80%;
    margin: 0 auto;
}

.cursoinscrito button:hover {
    transform: scale(1.05);
}

.infocurso img {
    display: block;
    width: 100%;
}

.paginacion {
    display: block;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.paginacion a {
    display: inline-block;
    margin: 0 20px;
    font-weight: bold;
    font-size: 15px;
}

@keyframes animarsuperior {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-contenido {
    position: block;
    background-color: #F8F9F9;
    margin: auto;
    padding: 50px;
    width: 30%;
    border-radius: 5px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s;
}

.botones {
    display: flex;
    gap: 10%;
    justify-content: flex-end;
    margin-top: 20px;
}

.botones button {
    padding: 10px 20px;
    margin-left: 10px;
}

button#btn-confirmar {
    display: block;
    width: 100%;
    margin: 5% auto;
    padding: 10px 0;
    font-size: 18px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #F2F2F2;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    transition: transform .2s;
    outline: 0 none;
}

button#btn-cancelar {
    display: block;
    width: 100%;
    margin: 5% auto;
    padding: 10px 0;
    font-size: 18px;
    border-radius: 5px;
    background-color: #f44336;
    color: #F2F2F2;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    transition: transform .2s;
    outline: 0 none;
}

.botones button:hover {
    color: #1E212B;
    transform: scale(1.05);
}